mixin createProduct(product)
    .col-md-4.mt-4
        .card
            img.card-image-top(src=`/img/${product.img}` alt='')
            .card-body
                h4.card-title
                  a(href=`/products/${product.id}`) #{product.name}
                small.text-muted
                  i.fa.fa-try #{product.price}
            .card-footer.text-center
              form(action='/cart' method='POST')
                a.btn.btn-outline-primary.btn-sm(href=`/products/${product.id}`) Details
                input(type='hidden' name='productId' value=`${product.id}`)
                button(type='submit').btn.btn-outline-primary.btn-sm.ml-3 Add to Cart
                